.card-container {
  margin: -50px auto 24px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  max-width: 620px;
  max-height: 170px;
  border-radius: 4px;
  margin: 16px;
  padding: 16px;
  border: 0;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  transition: box-shadow 0.5s ease;
}

.card:hover {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-temp {
  width: 200px;
  height: 138px;
  margin: 0 16px 0 0;
  border-radius: 4px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-temp div {
  color: #3c3c3c;
  font-size: 48px;
  font-weight: bold;
}

.card-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 200px;
  max-height: 138px;
}

.card-main div {
  margin: 0 0 16px 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.card-main h5 {
  color: #39a3db;
  margin: 0 8px 0 0;
  font-size: 24px;
  font-weight: bold;
  align-self: left;
}

.card-main img {
  width: 16px;
  height: 11px;
}

.card-main p {
  color: #3c3c3c;
  margin: 0;
}

.card-main .max {
  color: #b30000;
}

.card-main .min {
  color: #4a90e2;
}

.card-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  font-style: italic;
  width: 100px;
  height: 138px;
}

.description {
  text-align: center;
}

.card-weather img {
  width: 50px;
  height: 50px;
  align-self: center;
}
